:root {
    --primaty-color: #00dc82;
    --text-bg: #fff;
    --text-color: #000;
}

#Main .accordion .accordion-item
.accordion-body .form-check-label:hover {
    color: blue;
    cursor: pointer;
}

#Main a {
    color: black;
}

.CustomCssFilter { /*Custom #Main .FilterResults .Results*/
    z-index: 1;
    position: absolute;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 5px #000;
}

#Main .FilterResults .Results .Box-Poster .Poster {
    position: relative;
    padding-bottom: 133.33%;
    overflow: hidden;
    cursor: pointer;
}

#Main .FilterResults .Results .InformationNovel .Avater img,
#Main .FilterResults .Results .Box-Poster .Poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Chiếm toàn bộ không gian trong hộp chứa */
    object-fit: cover; /* Chỉnh kích thước hình ảnh trong khung 1:1 */
    transition: transform 0.5s ease; /* Thêm hiệu ứng transition cho hiệu ứng zoom */
}

#Main .FilterResults .Results .Box-Poster .Poster:hover img {
    transform: scale(1.1);
}

#Main .FilterResults .Results .InformationNovel .Avater {
    position: relative;
    width: 28px;
    padding-bottom: 28px;
    overflow: hidden;
    border-radius: 50%;
}

#Main .FilterResults .Results .InformationNovel p.Description-Novel {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa muốn hiển thị */
    -webkit-box-orient: vertical;
    max-height: 3.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Main .FilterResults .Results .InformationNovel .CategoryList {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Số dòng tối đa muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Main .Pagination .page-link.active {
    color: #fff;
}