
:root {
    --primaty-color: #00dc82;
    --text-bg: #fff;
    --text-color: #000;
}

#Main a {
    color: #000;
}

#Main .Action .nav-tabs .nav-link {
    border-color: transparent;
    font-weight: 500;
    color: #000;
}

    #Main .Action .nav-tabs .nav-link.active {
        background-color: transparent;
        color: var(--primaty-color);
        border-bottom: solid 1px var(--primaty-color);
    }

#Main .Action .tab-content .tab-pane .CategoryList {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Main .Action .tab-content #Books-tab-pane p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.25rem;
}

#Main .Action .tab-content #Introduction-tab-pane p {
    text-align: justify;
    white-space: pre-line;
}

#Main .Information_Action .nav .nav-link:hover {
    background-color: var(--primaty-color);
}

#Main .User .Background-User {
    padding-bottom: 70%;
}

#Main .Pagination .page-link.active {
    color: #fff;
}

@media (min-width: 576px) {
    #Main .User .Background-User {
        padding-bottom: 33.33%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    #Main .Information {
        zoom: 0.8;
    }
}
