
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <!-- Slick Slider Syncing -->
    <link rel="stylesheet" href="~/Content/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/slick-theme.css">
}

<section id="Main" class="mt-3">
    <div class="container ">
        <!-- Slick-Slider -->
        <section id="Slick-SliderSyncing">
            <div class="slider-for d-none d-md-block">
                <div class="Card">
                    <img src="~/Content/assets/img/CoverImgae/clr.jpg" style="width:100%;">
                    <div class="UserProfile">
                        <div class="Avatar">
                            <img src="~/Content/assets/img/CoverImgae/clr.jpg" alt="">
                        </div>
                        <div class="Information">
                            <h4 class="UserName">
                                Kinugasa Syougo
                            </h4>
                            <div class="Action">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <i class="fa-solid fa-swatchbook"></i>
                                            <span>Truyện Đã Đăng: 231</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <span>Lượt Theo Dõi: 2000</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-heart"></i>
                                            <span>Theo Dõi</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./TrangCaNhan.html">
                                            <i class="fa-solid fa-up-right-from-square"></i>
                                            <span>Truy Cập Trang Cá Nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Overlay-Card"></div>
                </div>
                <div class="Card">
                    <img src="~/Content/assets/img/CoverImgae/cnn.jpg" style="width:100%;">
                    <div class="UserProfile">
                        <div class="Avatar">
                            <img src="~/Content/assets/img/CoverImgae/cnn.jpg" alt="">
                        </div>
                        <div class="Information">
                            <h4 class="UserName">
                                Cổ Chân Nhân
                            </h4>
                            <div class="Action">
                                <ul class="nav justify-content-center">

                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#">
                                            <i class="fa-solid fa-swatchbook"></i>
                                            <span>Truyện Đã Đăng: 231</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <span>Lượt Theo Dõi: 2000</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-heart"></i>
                                            <span>Theo Dõi</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./TrangCaNhan.html">
                                            <i class="fa-solid fa-up-right-from-square"></i>
                                            <span>Truy Cập Trang Cá Nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Overlay-Card"></div>
                </div>
                <div class="Card">
                    <img src="~/Content/assets/img/CoverImgae/solo-leveling-dau-la-linh-bong-toi-manh-nhat.jpg"
                         style="width:100%;">
                    <div class="UserProfile">
                        <div class="Avatar">
                            <img src="~/Content/assets/img/CoverImgae/solo-leveling-dau-la-linh-bong-toi-manh-nhat.jpg"
                                 alt="">
                        </div>
                        <div class="Information">
                            <h4 class="UserName">
                                Chu-Gong
                            </h4>
                            <div class="Action">
                                <ul class="nav justify-content-center">

                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#">
                                            <i class="fa-solid fa-swatchbook"></i>
                                            <span>Truyện Đã Đăng: 231</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <span>Lượt Theo Dõi: 2000</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-heart"></i>
                                            <span>Theo Dõi</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./TrangCaNhan.html">
                                            <i class="fa-solid fa-up-right-from-square"></i>
                                            <span>Truy Cập Trang Cá Nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Overlay-Card"></div>
                </div>
                <div class="Card">
                    <img src="~/Content/assets/img/CoverImgae/vctct.jpg" style="width:100%;">
                    <div class="UserProfile">
                        <div class="Avatar">
                            <img src="~/Content/assets/img/CoverImgae/vctct.jpg" alt="">
                        </div>
                        <div class="Information">
                            <h4 class="UserName">
                                Giang Hồ Tái Kiến
                            </h4>
                            <div class="Action">
                                <ul class="nav justify-content-center">

                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#">
                                            <i class="fa-solid fa-swatchbook"></i>
                                            <span>Truyện Đã Đăng: 231</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <span>Lượt Theo Dõi: 2000</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-heart"></i>
                                            <span>Theo Dõi</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./TrangCaNhan.html">
                                            <i class="fa-solid fa-up-right-from-square"></i>
                                            <span>Truy Cập Trang Cá Nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Overlay-Card"></div>
                </div>
                <div class="Card">
                    <img src="~/Content/assets/img/CoverImgae/tctbdkht.jpg" style="width:100%;">
                    <div class="UserProfile">
                        <div class="Avatar">
                            <img src="~/Content/assets/img/CoverImgae/tctbdkht.jpg" alt="">
                        </div>
                        <div class="Information">
                            <h4 class="UserName">
                                Thái Thượng Bố Y
                            </h4>
                            <div class="Action">
                                <ul class="nav justify-content-center">

                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#">
                                            <i class="fa-solid fa-swatchbook"></i>
                                            <span>Truyện Đã Đăng: 231</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <span>Lượt Theo Dõi: 2000</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-heart"></i>
                                            <span>Theo Dõi</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./TrangCaNhan.html">
                                            <i class="fa-solid fa-up-right-from-square"></i>
                                            <span>Truy Cập Trang Cá Nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Overlay-Card"></div>
                </div>
                <div class="Card">
                    <img src="~/Content/assets/img/CoverImgae/pntt.jpg" style="width:100%;">
                    <div class="UserProfile">
                        <div class="Avatar">
                            <img src="~/Content/assets/img/CoverImgae/pntt.jpg" alt="">
                        </div>
                        <div class="Information">
                            <h4 class="UserName">
                                Vong Ngữ
                            </h4>
                            <div class="Action">
                                <ul class="nav justify-content-center">

                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#">
                                            <i class="fa-solid fa-swatchbook"></i>
                                            <span>Truyện Đã Đăng: 231</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <span>Lượt Theo Dõi: 2000</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-heart"></i>
                                            <span>Theo Dõi</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./TrangCaNhan.html">
                                            <i class="fa-solid fa-up-right-from-square"></i>
                                            <span>Truy Cập Trang Cá Nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Overlay-Card"></div>
                </div>
                <div class="Card">
                    <img src="~/Content/assets/img/CoverImgae/solo-leveling-dau-la-linh-bong-toi-manh-nhat.jpg"
                         style="width:100%;">
                    <div class="UserProfile">
                        <div class="Avatar">
                            <img src="~/Content/assets/img/CoverImgae/solo-leveling-dau-la-linh-bong-toi-manh-nhat.jpg"
                                 alt="">
                        </div>
                        <div class="Information">
                            <h4 class="UserName">
                                Chu-Gong
                            </h4>
                            <div class="Action">
                                <ul class="nav justify-content-center">

                                    <li class="nav-item">
                                        <a class="nav-link disabled" href="#">
                                            <i class="fa-solid fa-swatchbook"></i>
                                            <span>Truyện Đã Đăng: 231</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link disabled">
                                            <span>Lượt Theo Dõi: 2000</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="fa-solid fa-heart"></i>
                                            <span>Theo Dõi</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./TrangCaNhan.html">
                                            <i class="fa-solid fa-up-right-from-square"></i>
                                            <span>Truy Cập Trang Cá Nhân</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Overlay-Card"></div>
                </div>
            </div>

            <div class="slider-nav">
                <div class="Card">
                    <a href="./ThongTinTruyen.html">
                        <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                        <div class="Overlay-Card"></div>
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <span class="position-absolute text-white px-2 py-1" style="right: 0; background-color: rgb(255, 0, 0); font-size: 0.9rem;">
                            <i class="fa-solid fa-fire-flame-curved"></i> Hot
                        </span>
                    </a>
                </div>
                <div class="Card">
                    <a href="./ThongTinTruyen.html">
                        <img src="~/Content/assets/img/BookPoster/CoChanNhan.jpg" style="width:100%;">
                        <div class="Overlay-Card"></div>
                        <h6 class="Title"><span>Cổ Chân Nhân</span></h6>
                        <span class="position-absolute text-white px-2 py-1" style="right: 0; background-color: rgb(255, 0, 0); font-size: 0.9rem;">
                            <i class="fa-solid fa-fire-flame-curved"></i> Hot
                        </span>
                    </a>
                </div>
                <div class="Card">
                    <a href="./ThongTinTruyen.html">
                        <img src="~/Content/assets/img/BookPoster/SoloLeveling.jpg" style="width:100%;">
                        <div class="Overlay-Card"></div>
                        <h6 class="Title"><span>Solo Leveling</span></h6>
                        <span class="position-absolute text-white px-2 py-1" style="right: 0; background-color: rgb(255, 0, 0); font-size: 0.9rem;">
                            <i class="fa-solid fa-fire-flame-curved"></i> Hot
                        </span>
                    </a>
                </div>
                <div class="Card">
                    <a href="./ThongTinTruyen.html">
                        <img src="~/Content/assets/img/BookPoster/VanCoToiCuongTong.jpg" style="width:100%;">
                        <div class="Overlay-Card"></div>
                        <h6 class="Title"><span>Vạn Cổ Tối Cường Tông</span></h6>
                        <span class="position-absolute text-white px-2 py-1" style="right: 0; background-color: rgb(255, 0, 0); font-size: 0.9rem;">
                            <i class="fa-solid fa-fire-flame-curved"></i> Hot
                        </span>
                    </a>
                </div>
                <div class="Card">
                    <a href="./ThongTinTruyen.html">
                        <img src="~/Content/assets/img/BookPoster/ToiCuongTrangBucDaKiemHeThong.jpg"
                             style="width:100%;">
                        <div class="Overlay-Card"></div>
                        <h6 class="Title"><span>Tối Cường Trang Bức Đả Kiểm Hệ Thống</span></h6>
                        <span class="position-absolute text-white px-2 py-1" style="right: 0; background-color: rgb(255, 0, 0); font-size: 0.9rem;">
                            <i class="fa-solid fa-fire-flame-curved"></i> Hot
                        </span>
                    </a>
                </div>
                <div class="Card">
                    <a href="./ThongTinTruyen.html">
                        <img src="~/Content/assets/img/BookPoster/PhamNhanTuTien.jpg" style="width:100%;">
                        <div class="Overlay-Card"></div>
                        <h6 class="Title"><span>Phàm Nhân Tu Tiên</span></h6>
                        <span class="position-absolute text-white px-2 py-1" style="right: 0; background-color: rgb(255, 0, 0); font-size: 0.9rem;">
                            <i class="fa-solid fa-fire-flame-curved"></i> Hot
                        </span>
                    </a>
                </div>
                <div class="Card">
                    <a href="./ThongTinTruyen.html">
                        <img src="~/Content/assets/img/BookPoster/SoloLeveling.jpg" style="width:100%;">
                        <div class="Overlay-Card"></div>
                        <h6 class="Title"><span>Solo Leveling</span></h6>
                        <span class="position-absolute text-white px-2 py-1" style="right: 0; background-color: rgb(255, 0, 0); font-size: 0.9rem;">
                            <i class="fa-solid fa-fire-flame-curved"></i> Hot
                        </span>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="container BookUpdate">
        <!-- Truyện Xem Nhiều -->
        <div class="d-flex">
            <h3 class="my-4"> <i class="fa-regular fa-clock"></i> Truyện Xem Nhiều</h3>
            <h6 class="ml-auto my-auto ms-auto"><a href="./BoLoc.html" class="More">Xem Thêm</a></h6>
        </div>
        <div class="row">
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container BookUpdate">
        <!-- Truyện Mới Cập Nhật -->
        <div class="d-flex">
            <h3 class="my-4"> <i class="fa-regular fa-clock"></i> Truyện Mới Cập Nhật</h3>
            <h6 class="ml-auto my-auto ms-auto"><a href="./BoLoc.html" class="More">Xem Thêm</a></h6>
        </div>
        <div class="row">
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-2-4 col-6 col-sm-6 col-md-4 col-lg-3">
                <a href="./ThongTinTruyen.html#" class="d-block Card">
                    <img src="~/Content/assets/img/BookPoster/Classroom-of-the-Elite.jpg" style="width:100%;">
                    <div class="Overlay-Card"></div>
                    <div class="Information">
                        <h6 class="Title"><span>Classroom Of The Elite</span></h6>
                        <ul class="nav justify-content-between">
                            <li class="nav-item">
                                <i class="fa-solid fa-eye"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-heart"></i>
                                <span>999k</span>
                            </li>
                            <li class="nav-item">
                                <i class="fa-solid fa-comment-dots"></i>
                                <span>999k</span>
                            </li>
                        </ul>
                        <hr>
                        <div class="d-flex justify-content-between InfoChapter" style="font-size: 0.9rem;">
                            <span>Chương 2333</span>
                            <span><i class="fa-solid fa-clock"></i> 1 phút trước</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
@section script {
    <!-- js slick slider -->
    <script src="~/Content/assets/js/slick.js"></script>
    <script>
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',

            autoplay: true,
            autoplaySpeed: 2000
        });

        $('.slider-nav').slick({
            slidesToShow: 5,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: true,
            centerMode: true,
            focusOnSelect: true,
            responsive: [
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 4
                    }
                },
            ]
        });
    </script>
    <!-- end js -->

}

